In [1]:
# -*- coding: utf-8 -*-
"""
Created on Sun Mar 20 09:03:34 2022

@author: Oscar A. Trevizo


Objective
---------

* Using Pandas to read a csv file and create a dataset.

Datasets
--------
    https://www.kaggle.com/datasets/rishidamarla/fifa-players-ratings
    https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
    
References
----------
1. "The Python Standard Library: Built-In Functions" (accessed Feb. 12, 2022)
        https://docs.python.org/3/library/functions.html
2. "Pandas General Functions" (accessed Mar. 15, 2022) 
    https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html 
    https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
3. "Kaggle" (accessed Mar. 20, 2022)
    https://www.kaggle.com/
    https://www.kaggle.com/datasets/rishidamarla/fifa-players-ratings
3. "UCI Machine Learning Repository" (accessed Mar. 20, 2022)
    https://archive.ics.uci.edu/ml/datasets.php
    https://archive.ics.uci.edu/ml/datasets/wine+quality
    
sharing any of the course solutions or excerpts with anyone.

"""

'\nCreated on Sun Mar 20 09:03:34 2022\n\n@author: Oscar A. Trevizo\n\n\nObjective\n---------\n\n* Using Pandas to read a csv file and create a dataset.\n\nDatasets\n--------\n    https://www.kaggle.com/datasets/rishidamarla/fifa-players-ratings\n    https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv\n    \nReferences\n----------\n1. "The Python Standard Library: Built-In Functions" (accessed Feb. 12, 2022)\n        https://docs.python.org/3/library/functions.html\n2. "Pandas General Functions" (accessed Mar. 15, 2022) \n    https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html \n    https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html\n3. "Kaggle" (accessed Mar. 20, 2022)\n    https://www.kaggle.com/\n    https://www.kaggle.com/datasets/rishidamarla/fifa-players-ratings\n3. "UCI Machine Learning Repository" (accessed Mar. 20, 2022)\n    https://archive.ics.uci.edu/ml/datasets.php\n    https://archive.ics.uci.edu/ml/datasets/wine+quality\n    \nsharing any of the course solutions or excerpts with anyone.\n\n'

In [2]:
# Import libraries to obtain the method for reading and analyzing datasets
import pandas as pd
import numpy as np

In [3]:
# %% Load the data
#
# Read data from Kaggle.
#
# In this example, I will use a dataset published in Kaggle, FIFA players.
# https://www.kaggle.com/datasets/rishidamarla/fifa-players-ratings
#
# In this case, I placed the csv file next to this Python script.
# If your csv file is located elsewhere, mnodify this code to include its path
#
# the letter 'df' in a dataset name are common. Here 'df' stands for dataframe.
# A DataFrame is basically a table, datatype create under Pandas.
# Having a DataFrame under P[andas will allow us to do further analysis.
#
fifa_players_df = pd.read_csv('fifa_cleaned.csv')

In [4]:
fifa_players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             17954 non-null  int64
 1   name                           17954 non-null  object
 2   full_name                      17954 non-null  object
 3   birth_date                     17954 non-null  object
 4   age                            17954 non-null  int64
 5   height_cm                      17954 non-null  float64
 6   weight_kgs                     17954 non-null  float64
 7   positions                      17954 non-null  object
 8   nationality                    17954 non-null  object
 9   overall_rating                 17954 non-null  int64
 10  potential                      17954 non-null  int64
 11  value_euro                     17699 non-null  float64
 12  wage_euro                      17708 non-null  float64
 13  preferred_foot                 17954 non-null  object
 14  international_reputation(1-5)  17954 non-null  int64
 15  weak_foot(1-5)                 17954 non-null  int64
 16  skill_moves(1-5)               17954 non-null  int64
 17  work_rate                      17954 non-null  object
 18  body_type                      17954 non-null  object
 19  release_clause_euro            16117 non-null  float64
 20  club_team                      17940 non-null  object
 21  club_rating                    17940 non-null  float64
 22  club_position                  17940 non-null  object
 23  club_jersey_number             17940 non-null  float64
 24  club_join_date                 16018 non-null  object
 25  contract_end_year              17593 non-null  object
 26  national_team                  857 non-null    object
 27  national_rating                857 non-null    float64
 28  national_team_position         857 non-null    object
 29  national_jersey_number         857 non-null    float64
 30  crossing                       17954 non-null  int64
 31  finishing                      17954 non-null  int64
 32  heading_accuracy               17954 non-null  int64
 33  short_passing                  17954 non-null  int64
 34  volleys                        17954 non-null  int64
 35  dribbling                      17954 non-null  int64
 36  curve                          17954 non-null  int64
 37  freekick_accuracy              17954 non-null  int64
 38  long_passing                   17954 non-null  int64
 39  ball_control                   17954 non-null  int64
 40  acceleration                   17954 non-null  int64
 41  sprint_speed                   17954 non-null  int64
 42  agility                        17954 non-null  int64
 43  reactions                      17954 non-null  int64
 44  balance                        17954 non-null  int64
 45  shot_power                     17954 non-null  int64
 46  jumping                        17954 non-null  int64
 47  stamina                        17954 non-null  int64
 48  strength                       17954 non-null  int64
 49  long_shots                     17954 non-null  int64
 50  aggression                     17954 non-null  int64
 51  interceptions                  17954 non-null  int64
 52  positioning                    17954 non-null  int64
 53  vision                         17954 non-null  int64
 54  penalties                      17954 non-null  int64
 55  composure                      17954 non-null  int64
 56  marking                        17954 non-null  int64
 57  standing_tackle                17954 non-null  int64
 58  sliding_tackle                 17954 non-null  int64
 59  GK_diving                      17954 non-null  int64
 60  GK_handling                    17954 non-null  int64
 61  GK_kicking                     17954 non-null  int64
 62  GK_positioning                 17954 non-null  int64
 63  GK_reflexes                    17954 non-null  int64
 64  tags                           1417 non-null   object
 65  traits                         8137 non-null   object
 66  LS                             15889 non-null  object
 67  ST                             15889 non-null  object
 68  RS                             15889 non-null  object
 69  LW                             15889 non-null  object
 70  LF                             15889 non-null  object
 71  CF                             15889 non-null  object
 72  RF                             15889 non-null  object
 73  RW                             15889 non-null  object
 74  LAM                            15889 non-null  object
 75  CAM                            15889 non-null  object
 76  RAM                            15889 non-null  object
 77  LM                             15889 non-null  object
 78  LCM                            15889 non-null  object
 79  CM                             15889 non-null  object
 80  RCM                            15889 non-null  object
 81  RM                             15889 non-null  object
 82  LWB                            15889 non-null  object
 83  LDM                            15889 non-null  object
 84  CDM                            15889 non-null  object
 85  RDM                            15889 non-null  object
 86  RWB                            15889 non-null  object
 87  LB                             15889 non-null  object
 88  LCB                            15889 non-null  object
 89  CB                             15889 non-null  object
 90  RCB                            15889 non-null  object
 91  RB                             15889 non-null  object
dtypes: float64(9), int64(41), object(42)
memory usage: 12.6+ MB

In [5]:
# So many columns. What if I just want to load some of the columns
#
fifa_players_df = pd.read_csv('fifa_cleaned.csv', usecols = ['id', 
                                                             'name', 
                                                             'positions', 
                                                             'club_team', 
                                                             'national_team',
                                                             'wage_euro'])

In [6]:
fifa_players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             17954 non-null  int64
 1   name           17954 non-null  object
 2   positions      17954 non-null  object
 3   wage_euro      17708 non-null  float64
 4   club_team      17940 non-null  object
 5   national_team  857 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 841.7+ KB

In [7]:
fifa_players_df.head()

       id          name  positions  wage_euro          club_team national_team
0  158023      L. Messi   CF,RW,ST   565000.0       FC Barcelona     Argentina
1  190460    C. Eriksen  CAM,RM,CM   205000.0  Tottenham Hotspur       Denmark
2  195864      P. Pogba     CM,CAM   255000.0  Manchester United        France
3  198219    L. Insigne      LW,ST   165000.0             Napoli         Italy
4  201024  K. Koulibaly         CB   135000.0             Napoli           NaN

In [8]:
# %% Load the data
#
# Read data from UIC Machine Learning Repository.
#
# In this example, I will use a dataset published in UIC, wine quality.
#     https://archive.ics.uci.edu/ml/datasets/wine+quality
#
# In this case, I placed the csv file next to this Python script.
# If your csv file is located elsewhere, mnodify this code to include its path
#
# the letter 'df' in a dataset name are common. Here 'df' stands for dataframe.
# A DataFrame is basically a table, datatype create under Pandas.
# Having a DataFrame under P[andas will allow us to do further analysis.
#
# The csv file is not separated by comas (,), and it is separated by semi-colon (;).
#
# Pandas allows you to add several arguments to read_csv(), and sep is one of them.
#
wine_q_red_df = pd.read_csv('winequality-red.csv', sep=';')

In [9]:
# %% Analyze the data
#
# Pandas offerrs several methods to analyze the data
# We will start with info() below.

wine_q_red_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [10]:
wine_q_red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5